.Skills-Category {
    display: flex;
    justify-content: space-between;
    width: 250px;
    padding-left: 1em;
    padding-right: 1em;
}

.Skills-Category:hover {
    border-radius: 1em;
    -webkit-box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
}

.wrapper {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Column {
    padding: 15px;
}