.Skills-Category {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

/*.Column-1 {*/
/*    margin-left: 25%;*/
/*}*/

/*.Column-2 {*/
/*    margin-right: 25%;*/
/*}*/

.wrapper {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Column {
    padding: 15px;
}